@import "antd/dist/antd.css";
body {
  background-color: #403931;
}
.main {
  height: 100%;
  margin: 0 auto;
  background-color: #403931;
  padding:40px
}
.default_btn {
  float: right;
}
.signUpBox {
  background-color: #c9c99f;
  width: 30%;
  margin: 0 auto;
  border-radius: 10px;
  padding:40px
}
.registration {
  text-align: center;
  padding:22px 0px
}
.form {
  padding: 0 30px;
}
