@import "antd/dist/antd.css";
.main {
  background-color: white;
  padding: 0px;
}
.ant-layout-sider {
  flex: 0 0 82px !important;
  min-width: 30px !important;
  width: 30px !important;
}
.header {
  width: 100%;
  background-color: #3f51b5;
  min-height: 64px;
  padding: 0 20px;
  display: flex;
}
.menu_icon {
  font-size: 20px;
  margin: 20px 30px;
  width: 60px;
  cursor: pointer;
}
.addproduct {
  margin:10px;
  cursor: pointer;
}
.ant-btn-primary {
  color: #fff;
  background: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}
.button_Circle {
  background-color: red;
  margin: 10px auto;
  margin-left: -35px;
}
.ant-modal {
  top: 20px;
}
.modal {
  display: flex;
  margin: 10px auto;
}
.delete_Icon {
  font-size: 20px;
  margin: 10px 30px;
  width: 60px;
  cursor: pointer;
  margin-left: 0em;
}
.serachbar {
  /* margin:20px 30px; */
  padding: 10px 50px;
}
.input {
  width: 40%;
}
.sidebar {
  display: flex;
  height: 100%;
}
.ant-layout-sider {
  background-color: #cbd6ce;
}
.icon {
  font-size: 20px;
  color: #08c;
  margin: 20;
  display: flex;
  width: 100px;
}
.iconPosition {
  padding: 15px 30px;
}
.categoryContent {
  width: 20%;
  background-color: white;
}
.category {
  margin: 30px 30px;
}
.productContent {
  width: 80%;
}
.carsoul {
  height: 180px;
  line-height: 180px;
  text-align: center;
  width: 100%;
  background: black;
}
.ContentCard {
  display: flex;
  flex-wrap: wrap;
  border-width: 2px;
}
.carsoulproduct {
  height: 160px;
  line-height: 180px;
  text-align: center;
  width: 100%;
}
